<h2>Hello user,now you are logged in as <%= user.displayName %>.</h2>
<!-- <div>
    <h2>Hello, <%= user.name %>.</h2>
<p >
        <!-- <a style="padding-right:10px;" href="/logout">Home</a> | -->
        <!-- <a style="padding-right:10px;" href="/logout">Log Out</a> -->
    </p>

    <h3> Profile Details</h3>
                
                <!-- <p>User ID: <%= user.id %></p> -->
                <p>Name :<%= user.name %></p>
                <!-- <p>Username: <%= user.displayName  %></p> -->
                <p>Email id:<%= user.email %></p>
                

</div> -->